body { 
  background-color: #ffffff;
  margin: 30px;
  padding: auto;

}

header {
  margin: auto;
  padding: auto;
}

.leftImg {
  float: left;
  margin: 10px;
}

.rightImg {
  float: right;
  
}

#chocolatePizza {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.date2 {


}